{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Admin Login</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <center>
            <h2>Admin Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" name="username">
                    <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary" name="submit">Login</button>
            </form>
        </center>
    </div>
</div>
{% endblock content %}