{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
  </head>
  <body>

    <div class="gallery-section">
      <div class="inner-width">
        
        <div class="border"></div>
        <div class="gallery">

          <a href="{% static 'img/1.png' %}" class="image">
            <img src="{% static 'img/1.png' %}" alt="">
          </a>

          <a href="{% static 'img/2.png' %}" class="image">
            <img src="{% static 'img/2.png' %}" alt="">
          </a>

          <a href="{% static 'img/3.png' %}" class="image">
            <img src="{% static 'img/3.png' %}" alt="">
          </a>

          <a href="{% static 'img/4.png' %}" class="image">
            <img src="{% static 'img/4.png' %}" alt="">
          </a>

          <a href="{% static 'img/5.png' %}" class="image">
            <img src="{% static 'img/5.png' %}" alt="">
          </a>

          <a href="{% static 'img/6.png' %}" class="image">
            <img src="{% static 'img/6.png' %}" alt="">
          </a>

          <a href="{% static 'img/7.png' %}" class="image">
            <img src="{% static 'img/7.png' %}" alt="">
          </a>

          <a href="{% static 'img/8.png' %}" class="image">
            <img src="{% static 'img/8.png' %}" alt="">
          </a>
        </section>
        <div class="footer">
          <div id="button"></div>
        <div id="container">
        <div id="cont">
        <div class="footer_center">
          <a href="/">
              <img src="{% static 'img/Capture.png' %}"height="100",width="80">
            </a>  
        </div>
       
        </div>
        </div>
        </div>
        
       
        </div>
        </div>
      </div>
    </div>


  <script>
    $(".gallery").magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery:{
        enabled: true
      }
    });
  </script>

  </body>
</html>
