{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script
    type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "b3434c8a-5bd1-4415-92f2-57389800d304"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
  <div class="header">
    <img src="{% static 'img/Capture.png' %}" alt="logo" />
  </div>
  <div class="container">

    <div id="logo">RECONNECT</div>


    <div class="navigation-wrapper">
      <div class="navigation-button">
        <i class="fa fa-bars"></i>
      </div>
      <div class="navigation-menu">
        <ul>
          <li><a href="{% url 'core:home' %}">HOME</a></li>
          <li><a href="{% url 'core:gallery' %}">GALLERY</a></li>
          <li><a href="{% url 'core:events' %}">EVENTS</a></li>
          <li><a href="{% url 'core:profile' %}">PROFILE</a></li>
          <li><a href="{% url 'core:donation' %}">DONATION</a></li>
          <li><a href="{% url 'core:map' %}">LOCATION</a></li>
          <hr class="style1">
          <li><a href="{% url 'registration:logout' %}">LOGOUT</a></li>
        </ul>
      </div>
    </div>
    <section class="hero">
      <h1>REUNITE <br> <span> REKINDLE<br></span>REDISCOVER</h1>
    </section>
    <div id="rt-3bd5f2d2587767a30e25b662b326ce81" data-floating="true" data-side="left" data-width="400"
      data-height="400" data-image="https://img.icons8.com/officel/80/000000/comment-discussion.png"></div>
    <script src="https://rumbletalk.com/client/?BQeQ981-"></script>

  <script>
    var navButton = document.querySelector('.navigation-button');
    var navMenu = document.querySelector('.navigation-menu');
    var win = window;

    function openMenu(event) {

      navButton.classList.toggle('active');
      navMenu.classList.toggle('active');

      event.preventDefault();
      event.stopImmediatePropagation();
    }

    function closeMenu(event) {
      if (navButton.classList.contains('active')) {
        navButton.classList.remove('active');
        navMenu.classList.remove('active');
      }
    }
    navButton.addEventListener('click', openMenu);

    win.addEventListener('click', closeMenu, false);


  </script>

  <footer>
    
  </footer>

</body>

</html>