{% extends "user_base.html" %}
{% load static %}

{% block title %}
<title>Profile Edit</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="m.css">
{% endblock styles %}

{% block content %}
<div class="container emp-profile">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>


            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Finishing Editing" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>SKILLS</p>
                    <input type="text" name="skill1"><br />
                    <input type="text" name="skill2"><br />
                    <input type="text" name="skill3"><br />

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>Rishabh</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-3">
                                <p><input type="text" name="first_name" placeholder="FName"></p>
                            </div>
                            <div class="col-md-3">
                                <p><input type="text" name="secondary_name" placeholder="LName"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><input type="email" name="email" placeholder="Email ID"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Year</label>
                            </div>
                            <div class="col-md-6">
                                <p><input type="number" name="year" placeholder="Year Of Graduation"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Registration Number</label>
                            </div>
                            <div class="col-md-6">
                                <p><input type="text" name="reg" placeholder="College Registration ID"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p><input type="tel" name="phone" placeholder="Contact Number"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p><input type="text" name="proffesion" placeholder="Proffesion"></p>
                            </div>
                        </div>
                    </div>
                    <button type="button">Location</button>
                </div>
            </div>
        </div>
</form>
</div>
{% endblock content %}