{% extends "base.html" %}
{% load static %}

{% block title %}
<title>SignUp</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<script src="{% static 'js/signup.js' %}"></script>
{% endblock styles %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <img src="{% static 'img/register_big.png' %}" alt="wait" style="width: 100%;">
  <p></p>
  {{form.as_p}}
  <p></p>
  <button type="submit">SIGNUP</button>
  <button type="linkedin">LINKEDIN</button>
  <p></p>
  <p>Have an account already? Login <a href="{% url 'registration:login' %}">Here</a></p>
</form>
{% endblock content %}